ul{
  margin: auto;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
}

li{
  list-style: none;
  padding-top: 1rem;
}

button{
  width: 100%;
}
