<section>
  <div>
    <h1>Sucursal Virtual Personas</h1>
    <p>La seguridad es un compromiso de todos, recuerde cambiar constantemente su contraseña</p>
  </div>
  <div>
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example" (change)="onSelect($event)">
        <option selected>Seleccione la transaccion a realizar</option>
        <option value="1">Deposito desde sucursal</option>
        <option value="2">Deposito desde cajero</option>
        <option value="3">Deposito desde otra cuenta</option>
        <option value="1">Compra en establecimiento fisico</option>
        <option value="2">Compra en página web</option>
        <option value="3">Retiro en cajero</option>
      </select>
      <label for="floatingSelect">Works with selects</label>
    </div>
  </div>
  <div>
    <img src="assets/0zwaafghdlg01.webp" class="img-thumbnail" alt="Tarjeta de Harriet Tubman" />
  </div>
</section>
